@font-face {
  font-family: Rogue;
  src: url("../public/RougeScript-Regular.ttf")
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
}

.navItem {
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  font-family: Rogue;
}
.navItem:hover {
  color: rgb(161, 241, 255);
}

.profileImage {
  border-radius: 50px;
  width: 60px;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin: 0;
}

.articleModal1 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
  height: 410px !important;
  position: relative !important;
  flex-wrap: wrap !important;
}

.editorImage {
  margin-right: 0 !important;
}

.brandLogo {
  width: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.articleCard {
  margin: 20px;
  width: 30%;
}
.articleCard:hover {
  cursor: pointer;
}
.articleImage {
  max-height: 200px !important;
  object-fit: cover !important;
  object-position: 50% 50% !important;
}

.display {
  justify-content: center;
  align-items: center;
  width: 80%;
}

.articleForm {
  width: 50%;
}

.pageCard {
  margin: 20px !important;
  width: 80% !important;
  margin-bottom: 60px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.pageCard .pageImage {
  max-height: 300px;
  object-fit: cover;
  object-position: 50% 20%;
}

.articleHeader {
  font-size: 2rem !important;
}
.articleContent {
  font-size: 1rem !important;
  letter-spacing: 0.1rem !important;
  line-height: 2rem !important;
}